<!-- <form action="" id="characterCreateForm" hx-get="/components/joinRoomForm.html"> -->
<form action="" id="characterCreateForm">
    <div class="field">
        <label for="name">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" id="name">
        </div>
    </div>
    <div class="field">
        <label for="color">Choose your color</label>
        <div class="control">
            <input type="color" class="input" name="color" id="color">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link is-fullwidth">Submit</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("characterCreateForm").addEventListener("submit", (e) => {
        e.preventDefault();
        let name = document.getElementById("name").value.trim();
        let valid = true;
        if (name.length == 0 || name.length > 10 || name.length < 2){
            setNotification("Name is of invalid length. Must be between 2 and 11 characters");
            valid = false;
        }

        let color = document.getElementById("color").value;

        if (valid === true){
            storeUserInfo({name, color})
            htmx.ajax("GET", "/components/joinRoomForm.html", {target: "#characterCreateForm"})
        }
    })
</script>