<form action="" onsubmit="(e) => e.preventDefault()">
    <div class="field">
        <label for="rCode">Room Code</label>
        <div class="control">
            <input class="input" type="text" name="rCode" id="rCode">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-success">Join Room</button>
        </div>
        <div class="control">
            <button class="button is-link">Create Room</button>
        </div>
    </div>
</form>