<form action="" id="roomJoinForm">
    <div class="field">
        <label for="rCode">Room Code</label>
        <div class="control">
            <input class="input" type="text" name="rCode" id="rCode" required maxlength="6" minlength="6">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-success">Join Room</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("helpText").innerHTML = "If you have a room code, enter it below, otherwise create your own room!"
    let form = document.getElementById("roomJoinForm")
    form.addEventListener("submit", (ev) => {
        ev.preventDefault()
        code = document.getElementById("rCode").value
        joinRoom(code)
    })
</script>