<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/game.css">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <title>Socket Play - Game</title>
</head>
<body>
    <div style="text-align: center;">
        <div style="font-size: 1.4em; color: blue;">
            Room Code: <span id="roomCode">{{ room_code }}</span>
        </div>
        <span id="notification"></span>
    </div>
        
    <div class="container">
        <canvas id="mainGame" width="1024" height="500" style="border: 1px solid black">
            Device doesn't support canvas. Can't play here!
        </canvas>
        <!-- <div class="player" id="player1" onkeydown="move_player"></div> -->
        <div class="buttons">
            <button id="left" data-direction="LEFT">⬅️</button>
            <div class="flexed-up">
                <button id="up" data-direction="UP">⬆️</button>
                <button id="down" data-direction="DOWN">⬇️</button>
            </div>
            <button id="right" data-direction="RIGHT">➡️</button>
        </div>
    </div>
</body>
<script src="/static/scripts/storage.js"></script>
<script src="/static/scripts/game.js"></script>
<script src="/static/scripts/player.js"></script>
<script src="/static/scripts/sockets.js"></script>
</html>